{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}

<br><br><br><br><br><br><br>
    <div class="container">

      <h1>Welcome Admin!</h1>
      <hr>
      <a class="btn btn-large btn-info" href="">Get staff suggestions</a>
      <br>
      <br>
      <a class="btn btn-large btn-info" href="" onclick="" >View crowd density</a>
    </div>

{% endblock %}
