{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Invalid Credentials! Please try again.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% endif %}
  <br><br><br><br><br><br>
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="mt-2">Admin Login</h1>
      <hr class="mt-0 mb-4">

      <form action="/postlogin/" method="post">
        {% csrf_token %}
        <div class="form-group row" >
          <label for="inputEmail3" class="col-sm-2 col-form-label">User ID: </label>
            <div class="col-sm-5">
              <input name="userid" type="text" class="form-control" id="inputEmail3" placeholder="User ID" required>
            </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password: </label>
            <div class="col-sm-5">
              <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Sign in</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}
