{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
      #icon {
        width: 300px;
        height: 200px;
      }
      #icon:hover {
        width: 330px;
        height: 230px;
      }
    </style>
    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_lounge' %}">Lounge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_salon' %}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_spa' %}">Spa</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a lounge..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img id="icon" src="/static/images/american1.jpg"></img>
          </td>
          <td>
            <h3>American Airlines Admirals Club </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Airside, South Pier, 3rd Floor.<br>
              <b>Lounge Access:</b> Pay at the Door with proof of American Airlines ticket • Admirals Club Membership.
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/gol1.jpg"></img>
          </td>
          <td>
            <h3>GOL Premium Lounge (Domestic) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Airside, Domestic Departures, 2nd Floor, opposite Gates B36 and B37.<br>
              <b>Lounge Access:</b> Prepaid lounge passes • Lounge membership programs.
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/gol2.jpg"></img>
          </td>
          <td>
            <h3>GOL Premium Lounge (International) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Airside, International Departures, South Pier, Airside, 3rd Floor.<br>
              <b>Lounge Access:</b> Prepaid lounge passes • Lounge membership programs.
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/plaza1.jpg"></img>
          </td>
          <td>
            <h3>Plaza Premium Lounge (Domestic) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Domestic Departures, Airside, 1st Floor, Mezzanine Floor.<br>
              <b>Lounge Access:</b> Pay at the Door • Prepaid lounge passes • Lounge membership programs.
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/plaza2.jpg"></img>
          </td>
          <td>
            <h3>Plaza Premium Lounge (International) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, International Departures, Airside, 3rd Floor, South Pier. <br>
              <b>Lounge Access:</b> Pay at the Door • Prepaid lounge passes • Lounge membership programs.
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/plaza3.jpg"></img>
          </td>
          <td>
            <h3>Plaza Premium Lounge (Arrivals) </h3>
            <hr>
            <h5>
              <b>Location:</b> Terminal 2, Arrivals Area, Landside, Car Park Building, Level 1.<br>
              <b>Lounge Access:</b> Pay at the Door • Prepaid lounge passes • Lounge membership programs.
            </h5>
          </td>
        </tr>
    </div>
{% endblock %}
