{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: #474e5d;
      font-family: Helvetica, sans-serif;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: white;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }

    /* Container around content */
    .container {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 50%;
    }

    /* The circles on the timeline */
    .container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: white;
      border: 4px solid #FF9F55;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    /* Place the container to the left */
    .left {
      left: -25.4%;
    }

    /* Place the container to the right */
    .right {
      left: 25.4%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
      left: -16px;
    }

    /* The actual content */
    .content {
      padding: 20px 30px;
      background-color: white;
      position: relative;
      border-radius: 6px;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }

      /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }

      /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }

      /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }

      /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
    }
  </style>
  <h1 style="color:white; text-align: center"> Sightseeing:</h1>
  <hr>
  <br>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <p>
          <img id="icon" class="rounded" style='width:300px;height:200px;' src="/static/images/sugarloaf.jpg" />
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <p>
          Stay in the airport for hours or head into Rio for some sun, surf, and fresh air? Easy decision! If your
          layover is 8 hours or longer, you can head into this vibrant city for some dining and shopping or simply
          relaxing on some of the best beaches in the world.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <img id="icon" class="rounded" style='width:300px;height:200px; margin-right:10px;' src="/static/images/christ.jpg" />
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <p>
          Public transit options from the airport rely on the BRT, the bus rapid transit, and they’ll have you
          in the heart of Rio in 60-75 minutes. Taxis are pricier, but cut that transit time in half.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <img id="icon" class="rounded" style='width:300px;height:200px; margin-right:10px;' src="/static/images/botanical.jpg" />
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <p>
          Walk or ride the cable car to the top of Sugarloaf Mountain for iconic city and ocean views.For another type of icon,
          head to the Christ the Redeemer statue, considered one of the New Seven Wonders of the World. Stroll the Botanical Gardens
          for a bit of nature. Football fans will love a visit to Maracana Stadium. Popular beaches like Copacabana and Ipanema are
          further south of downtown, but well worth it if you’ve got the time.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <img id="icon" class="rounded" style='width:300px;height:200px; margin-right:10px;' src="/static/images/copacabana.jpg" />
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <p>
          Keep one eye on the time while you explore – make sure to get back to the airport and clear Security before your next flight,
          or your layover will be even longer!
        </p>
      </div>
    </div>
  </div>


{% endblock %}
