{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }

    </style>

    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_shopping' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_beauty' %}">Beauty & Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_books' %}">Books and Magazines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_malls' %}">Malls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_pharmacy' %}">Pharmacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fashion' %}">Fashion and Accessories</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a store..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/britt-lista.jpg"></img>
          </td>
          <td>
            <h4>Britt Shop</h4>
            <p>Large variety of presents and souvenirs for who knows how to please. Visit the store and check out the products.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Dufry - Duty Free</h4>
            <p> Find a variety of international tax-free brands, priced lower than at conventional stores.<br>
            <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - International<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              3. Terminal 2 - Floor 0, Arrivals - International<br>
            <b>Phone</b>: +55 (21) 3398-2036
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Dufry - Duty Free - Gifts & Treats</h4>
            <p> Find a variety of international tax-free brands, priced lower than at conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/dufry-lista.jpg"></img>
          </td>
          <td>
            <h4>Dufry Shopping</h4>
            <p>Duty-Free shop with a large variety of imported goods. Find your smartphone, accessory or gadget.<br>
              <b>Location</b>: Terminal 2 - Floor 1
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/flower-lista.jpg"></img>
          </td>
          <td>
            <h4>Esalflores - máquina de flores</h4>
            <p> Natural flowers at your fingertips. Find the color and the ideal perfume to please and flourish all kinds of friendship.<br>
            <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Espaço Copacabana</h4>
            <p> Great national brands, no taxes (cheaper)! Enjoy!<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Espaço Ipanema</h4>
            <p>Great national brands, no taxes (cheaper)! Enjoy!<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Espaço Lapa</h4>
            <p> Great national brands, no taxes (cheaper)! Enjoy!<br>
            <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/hudson-lista.jpg"></img>
          </td>
          <td>
            <h4>Hudson News</h4>
            <p> The world's largest network of travel convenience stores has everything you want and need. Come visit. <br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 (21)3398-2528
              2. Terminal 1 - Floor 1, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 (21)3398-3852
              3. Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
