{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }

    </style>

    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_shopping' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_beauty' %}">Beauty & Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_books' %}">Books and Magazines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_malls' %}">Malls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_pharmacy' %}">Pharmacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fashion' %}">Fashion and Accessories</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a store..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/whs-lista.jpg"></img>
          </td>
          <td>
            <h4>WH Smith</h4>
            <p> Thousands of books and magazines for all tastes. Be well informed or take an adventure in your suitcase.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/leitura-lista.jpg"></img>
          </td>
          <td>
            <h4>Leitura</h4>
            <p> A universe of stories for you to discover. Romance, fiction and adventure. Find new stories, tales and romances.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Departures - Domestic<br>
              2. Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 (21)3398-2619
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
