{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>

    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/bobs-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's</h4>
            <p> The beloved Brazilian chain waits for you with hamburgers,
              snacks and beverages, all in a pleasant environment for the
              whole family. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/bobs-shake-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's Shakes</h4>
            <p> A BOB's kiosk focused especially on desserts.
              Those that everyone already knows and can not resist. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/burguer-lista.jpg"></img>
          </td>
          <td>
            <h4>Burger King</h4>
            <p> Grilled hamburgers, special sauces and select ingredients.
              Is your mouth watering? Go to Burger King. <br>
              <b>Timings</b>: 12AM - 8PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/domino-lista.jpg"></img>
          </td>
          <td>
            <h4>Domino's Pizza</h4>
            <p> The American pizzeria with fans around the world is in Brazil.
              Enjoy this delicious and special flavor. <br>
              <b>Timings</b>: 8AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <b>Phone</b>: +55 21 3398-2105
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/doog-lista.jpg"></img>
          </td>
          <td>
            <h4>Doog Hot Dog</h4>
            <p> Perfect for those who love a good hot dog.
              If you were looking for an amazing experience, you have found it. <br>
              <b>Timings</b>: 6AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/fome-lista.jpg"></img>
          </td>
          <td>
            <h4>F.O.M.E.</h4>
            <p> Restaurant with a varied menu for you to enjoy an excellent meal.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/harad-lista.jpg"></img>
          </td>
          <td>
            <h4>Harad</h4>
            <p> Arab cuisine in a relaxed environment for happy hour. Enjoy sweet and savory treats with a good beer. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/koni-lista.jpg"></img>
          </td>
          <td>
            <h4>Koni Express</h4>
            <p> The best of Japanese cuisine in an environment that makes you feel the calm atmosphere of the East. <br>
              <b>Timings</b>: 11AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <b>Phone</b>: +55 11 4153-6558
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mcdonald-lista.jpg"></img>
          </td>
          <td>
            <h4>Mc Donald's</h4>
            <p> The traditional American hamburger that is already a little piece of Brazil.
              Big Mac's house is waiting for you. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <b>Phone</b>: +55 16 3267-0269
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mcdonald-sorvete-lista.jpg"></img>
          </td>
          <td>
            <h4>McSorvete</h4>
            <p> The traditional Mc Donald's desserts. Big Mac's house is waiting for you. <br>
            <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/cheney-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Mr. Cheney</h4>
            <p> Specializing in cookies and American delicacies.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/salch-lista.jpg"></img>
          </td>
          <td>
            <h4>Salch&Pão</h4>
            <p> The traditional Brazilian hot dog that is an explosion of flavors.
              Take a break and satisfy your hunger. <br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/subway-lista.jpg"></img>
          </td>
          <td>
            <h4>Subway</h4>
            <p> Restaurant with fast, healthy and varied sandwiches.
              Choose your ingredients and discover new sauces and seasonings. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Phone</b>: +55 21 3148-2098<br>
              <b>Location</b>:
              1. Terminal 2 - Floor 1, Public Area<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              3. Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/tapi-lista.jpg"></img>
          </td>
          <td>
            <h4>Tapí Tapioca</h4>
            <p> Artisanal tapioca with a touch of traditional indigenous food.
              Always made with care and flavor at Tapí. <br>
              <b>Timings</b>: 6AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <b>Phone</b>: +55 21 3398-2081
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
