{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }

    </style>

    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_shopping' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_beauty' %}">Beauty & Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_books' %}">Books and Magazines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_malls' %}">Malls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_pharmacy' %}">Pharmacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_fashion' %}">Fashion and Accessories</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a store..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/amsterdam-lista.jpg"></img>
          </td>
          <td>
            <h4>Amsterdam Sauer</h4>
            <p>Jewels for those with good taste and attitude. Colorful Brazilian stones that adorn the soul.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/arty-lista.jpg"></img>
          </td>
          <td>
            <h4>Arty Rio</h4>
            <p> Gifts with the color, shape and texture of the wonderful city. Take a souvenir for the ones you cherish.<br>
            <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - International<br>
              2. Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/bagaggio-lista.jpg"></img>
          </td>
          <td>
            <h4>Bagaggio</h4>
            <p> Utilities and accessories for travelling and for day- to-day life. Find quality backpacks, suitcases, wallets and purses.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/bola-lista.jpg"></img>
          </td>
          <td>
            <h4>Bola Show</h4>
            <p>Everything for those who deeply love sports. Accessories, jerseys and soccer articles.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic <br>
              2. Terminal 2 - Floor 0, Arrivals - Public Area <br>
              3. Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/cellaires-lista.jpg"></img>
          </td>
          <td>
            <h4>Cellairis</h4>
            <p>Global leader in smartphone accessories. Find peripherals, adapters and specialized technical service for your device.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/chilli-lista.jpg"></img>
          </td>
          <td>
            <h4>Chilli Beans</h4>
            <p> Eyewear fashion, timeless and contemporary for people with attitude. Find your style and your brand.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/ehven-lista.jpg"></img>
          </td>
          <td>
            <h4>Ehven Pedras</h4>
            <p>Jewelry and accessories for those who know fashion. Visit the store and surprise yourself.<br>
              <b>Location</b>:<br>
              1. Terminal 2 - Floor 2, Departures - Public Area <br>
              2. Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/energia-lista.jpg"></img>
          </td>
          <td>
            <h4>Energia Natural</h4>
            <p> Clothes and souvenirs for the Brazilian tourist market. Transforming nature into art and fashion.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/havaianas-lista.jpg"></img>
          </td>
          <td>
            <h4>Havaianas</h4>
            <p> Everybody wears them. Accessories, sandals and slippers with the face of Brazil. Visit and see.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
              <b>Phone</b>: +55 (21) 2462-5263
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/hstern-list.jpg"></img>
          </td>
          <td>
            <h4>HStern</h4>
            <p>High jewelry items much closer to you. Find your best version with the brand that is followed by the trend.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/maria-lista.jpg"></img>
          </td>
          <td>
            <h4>Maria Oiticica Biojoias</h4>
            <p> Woods and seeds become biojewels of high ecological value. Get to know sustainable fashion and see Brazil as an accessory.<br>
            <b>Location</b>: Terminal 2 - Floor 1, Departures - International <br>
            <b>Phone</b>: +55 (21) 3367-6465
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Michael Kors</h4>
            <p> Find a variety of international tax-free brands, priced lower than conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mt-cat-lista.jpg"></img>
          </td>
          <td>
            <h4>Mr. Cat</h4>
            <p>The footwear store that invents fashion for your feet. Variety in footwear for men and women.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <b>Phone</b>: +55 (21) 3367-6448
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/nacao-lista.jpg"></img>
          </td>
          <td>
            <h4>Nação Rubro Negra</h4>
            <p> Everything for those who are fanatic for the Urubu Vencedor. Find jerseys, accessories and more at the Rubro Negra (red-black) store.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic <br>
            <b>Phone</b>: +55 (21) 3398-2629
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Polo Ralph Lauren</h4>
            <p>Find a variety of international tax-free brands, priced lower than conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/duty-lista.jpg"></img>
          </td>
          <td>
            <h4>Salvatore Ferragamo</h4>
            <p>Find a variety of international tax-free brands, priced lower than conventional stores.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/sunglass-lista.jpg"></img>
          </td>
          <td>
            <h4>Sunglass Hut</h4>
            <p> Eyewear fashion with style, quality and protection. Find all the status of international brands.<br>
            <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic <br>
            <b>Phone</b>: +55 (21) 3398-2589
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/track-lista.jpg"></img>
          </td>
          <td>
            <h4>Track & Field</h4>
            <p>From the runways to your closet. Men's and women's fashion aligned with the latest trends.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
