{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>

    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/bauduco-lista.jpg"></img>
          </td>
          <td>
            <h4>Casa Bauducco</h4>
            <p> Coffee, snacks and special sweets for incredible moments. Delights that are impossible to forget. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <b>Phone</b>: +55 21 3004-6050
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/paoqueijo-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Casa do Pão de Queijo</h4>
            <p> Select ingredients and an unforgettable and striking accent
              make Minas Gerais' cheese bread in Rio de Janeiro. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
              <b>Phone</b>: +55 21 3986-2388
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/chocolate-q-lista.jpg"></img>
          </td>
          <td>
            <h4>Chocolate Q</h4>
            <p> Taste the chocolate that has the essence of Brazil
              in one of the most renowned chocolate boutiques. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
              <b>Phone</b>: +55 (21)3398-2175
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/colombo-lista.jpg"></img>
          </td>
          <td>
            <h4>Confeitaria Colombo</h4>
            <p> Varied choices of delicious sweet and savory treats,
              prepared with care and joy. Taste them and see for yourself. <br>
              <b>Timings</b>: 5AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
              <b>Phone</b>:+55 (21)3398-2208
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/delta-lista.jpg"></img>
          </td>
          <td>
            <h4>Deltaexpresso Café</h4>
            <p> Cosmopolitan cafe that is a delightful place.
              Convenience in coffee, snacks and drinks. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/emporio-lista.jpg"></img>
          </td>
          <td>
            <h4>Empório Aviação</h4>
            <p> Great choice for those who want delicious coffee and quick snacks.
              Take a break and visit.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/galeao-lista.jpg"></img>
          </td>
          <td>
            <h4>Galeão Coffee Shop</h4>
            <p> Coffees, drinks and snacks in an inviting and cozy environment.
              Visit and enjoy. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/havana-lista.jpg"></img>
          </td>
          <td>
            <h4>Havanna Café</h4>
            <p> The famous brand that is synonymous with delicious alfajores
              waits for you in a cozy and elegant environment. <br>
              <b>Timings</b>: 5AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/kafe-lista.jpg"></img>
          </td>
          <td>
            <h4>Kafe</h4>
            <p> A relaxed and laid-back environment waits for you.
              Enjoy drinks, coffees and mouth-watering snacks. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/Kopenhagen-lista.jpg"></img>
          </td>
          <td>
            <h4>Kopenhagen</h4>
            <p> Wide variety of special and select chocolates. Find your favorite delights and amazing gifts. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area
              <b>Phone</b>: +55 21 3398-2101
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/bakers-lista.jpg"></img>
          </td>
          <td>
            <h4>Mr. Baker</h4>
            <p> Coffees and snacks as you wish. It’s a good order at all times. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mate-lista.jpg"></img>
          </td>
          <td>
            <h4>Rei do Mate</h4>
            <p> Brazilian tea house with wide variety of teas and coffee beans.
              Enjoy a cozy environment and an incredible drink. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
              <b>Phone</b>: +55 21 3398-2060
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/starbucks-lista.jpg"></img>
          </td>
          <td>
            <h4>Starbucks Coffee</h4>
            <p> Coffees, sweets and savory snacks in a relaxed, alternative and
              quiet environment for you to enjoy before your trip. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Public Area<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 800 777 8252<br>
              2. Terminal 2 - Floor 2, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 21 3398-2102
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/upper-lista.jpg"></img>
          </td>
          <td>
            <h4>Upper Crust</h4>
            <p> Fresh and fast. Baked throughout the day,
              we are the baguette experts. <br>
              <b>Timings</b>: 5:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
