{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>
    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/saidera-lista.jpg"></img>
          </td>
          <td>
            <h4>A Saideira</h4>
            <p> Bar and restaurant in a single place. Discover a space full of energy to create good memories. <br>
              <b>Timings</b>: 9AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <b>Phone</b>: +55 11 96225-7224
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/delirio-lista.jpg"></img>
          </td>
          <td>
            <h4>Delirio Tropical</h4>
            <p> If you are looking for good food, with the feel of summer and seasoning that only a typical Brazilian restaurant has, you have found it. <br>
              <b>Timings</b>: 6:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <b>Phone</b>: +55 (21) 3398-2608
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/divino-lista.jpg"></img>
          </td>
          <td>
            <h4>Divino Fogão</h4>
            <p>Typical farm food without leaving town? Pass by Divino Fogão and taste the countryside flavors. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 21 3398-2130
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/giraffa-lista.jpg"></img>
          </td>
          <td>
            <h4>Giraffas</h4>
            <p> Homemade Brazilian food. Come taste the flavors that only Brazil offers.
              Comfortable environment and great atmosphere. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/mania-lista.jpg"></img>
          </td>
          <td>
            <h4>Mania de Churrasco</h4>
            <p> If you do not give up a nice barbecue, well roasted meat and made with noble cuts,
              do not forget to visit Mania de Churrasco. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/megamatte-lista.jpg"></img>
          </td>
          <td>
            <h4>Megamatte</h4>
            <p> Tasty, refreshing and healthy. Choose from the variety of drinks made with
              organic yerba mate and quench your thirst.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/nutty-lista.jpg"></img>
          </td>
          <td>
            <h4>Nutty Bavarian</h4>
            <p> Experts in nuts, friends of your health. If your seek a lighter life,
              come by the Bavarian Nutty. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/Palaphita-lista.jpg"></img>
          </td>
          <td>
            <h4>Palaphita</h4>
            <p> Cool bar and grill, laid-back and fun. Plenty of cold beer, energy and good food. <br>
              <b>Timings</b>: 10AM - 1AM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/pastatore-lista.jpg"></img>
          </td>
          <td>
            <h4>Pastatore</h4>
            <p> Specializing in pastas, pizzas and lasagne. That Italian taste that everyone loves. <br>
            <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
            <b>Phone</b>: +55 (21) 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/hut-lista.jpg"></img>
          </td>
          <td>
            <h4>Pizza Hut</h4>
            <p> Visit the famous American pizzeria and be amazed by the flavor that only a perfect combination of ingredients provides. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/spoleto-lista.jpg"></img>
          </td>
          <td>
            <h4>Spoleto</h4>
            <p> Italian restaurant that transports your mind to Naples. Enjoy excellent food. <br>
              <b>Timings</b>: 10AM - 11PM <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 (21)3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/friday-lista.jpg"></img>
          </td>
          <td>
            <h4>T.G.I. Fridays</h4>
            <p> For a happy hour or the last meeting before your trip, choose the restaurant that has Friday's menu every day. <br>
              <b>Timings</b>: 10AM - 11PM<br>
              <b>Location</b>:
              1. Terminal 2 - Floor 2, Departures - Domestic
              2. Terminal 2 - Floor 0, Arrivals - Public Area
              <b>Phone</b>: +55 21 3398-2113
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/vivenda-lista.jpg"></img>
          </td>
          <td>
            <h4>Vivenda do Camarão</h4>
            <p> Typical Brazilian cuisine that tastes like homemade food. Visit an ideal place to share happy moments. <br>
              <b>Timings</b>: 10AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 800 12 9333
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
