{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }
    </style>
    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_food' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_coffee' %}">Coffee shop/Chocolate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_resta' %}">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fast' %}">Fast Food</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a restaurant..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img id="icon" src="/static/images/saidera-lista.jpg"></img>
          </td>
          <td>
            <h4>A Saideira</h4>
            <p> Bar and restaurant in a single place. Discover a space full of energy to create good memories. <br>
              <b>Timings</b>: 9AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International<br>
              <b>Phone</b>: +55 11 96225-7224
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bobs-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's</h4>
            <p> The beloved Brazilian chain waits for you with hamburgers,
              snacks and beverages, all in a pleasant environment for the
              whole family. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bobs-shake-lista.jpg"></img>
          </td>
          <td>
            <h4>Bob's Shakes</h4>
            <p> A BOB's kiosk focused especially on desserts.
              Those that everyone already knows and can not resist. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 21 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/burguer-lista.jpg"></img>
          </td>
          <td>
            <h4>Burger King</h4>
            <p> Grilled hamburgers, special sauces and select ingredients.
              Is your mouth watering? Go to Burger King. <br>
              <b>Timings</b>: 12AM - 8PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bauduco-lista.jpg"></img>
          </td>
          <td>
            <h4>Casa Bauducco</h4>
            <p> Coffee, snacks and special sweets for incredible moments. Delights that are impossible to forget. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area<br>
              <b>Phone</b>: +55 21 3004-6050
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/paoqueijo-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Casa do Pão de Queijo</h4>
            <p> Select ingredients and an unforgettable and striking accent
              make Minas Gerais' cheese bread in Rio de Janeiro. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
              <b>Phone</b>: +55 21 3986-2388
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/chocolate-q-lista.jpg"></img>
          </td>
          <td>
            <h4>Chocolate Q</h4>
            <p> Taste the chocolate that has the essence of Brazil
              in one of the most renowned chocolate boutiques. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
              <b>Phone</b>: +55 (21)3398-2175
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/colombo-lista.jpg"></img>
          </td>
          <td>
            <h4>Confeitaria Colombo</h4>
            <p> Varied choices of delicious sweet and savory treats,
              prepared with care and joy. Taste them and see for yourself. <br>
              <b>Timings</b>: 5AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
              <b>Phone</b>:+55 (21)3398-2208
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/delirio-lista.jpg"></img>
          </td>
          <td>
            <h4>Delirio Tropical</h4>
            <p> If you are looking for good food, with the feel of summer and seasoning that only a typical Brazilian restaurant has, you have found it. <br>
              <b>Timings</b>: 6:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <b>Phone</b>: +55 (21) 3398-2608
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/delta-lista.jpg"></img>
          </td>
          <td>
            <h4>Deltaexpresso Café</h4>
            <p> Cosmopolitan cafe that is a delightful place.
              Convenience in coffee, snacks and drinks. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/divino-lista.jpg"></img>
          </td>
          <td>
            <h4>Divino Fogão</h4>
            <p>Typical farm food without leaving town? Pass by Divino Fogão and taste the countryside flavors. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 21 3398-2130
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/domino-lista.jpg"></img>
          </td>
          <td>
            <h4>Domino's Pizza</h4>
            <p> The American pizzeria with fans around the world is in Brazil.
              Enjoy this delicious and special flavor. <br>
              <b>Timings</b>: 8AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <b>Phone</b>: +55 21 3398-2105
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/doog-lista.jpg"></img>
          </td>
          <td>
            <h4>Doog Hot Dog</h4>
            <p> Perfect for those who love a good hot dog.
              If you were looking for an amazing experience, you have found it. <br>
              <b>Timings</b>: 6AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/emporio-lista.jpg"></img>
          </td>
          <td>
            <h4>Empório Aviação</h4>
            <p> Great choice for those who want delicious coffee and quick snacks.
              Take a break and visit.<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/fome-lista.jpg"></img>
          </td>
          <td>
            <h4>F.O.M.E.</h4>
            <p> Restaurant with a varied menu for you to enjoy an excellent meal.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/galeao-lista.jpg"></img>
          </td>
          <td>
            <h4>Galeão Coffee Shop</h4>
            <p> Coffees, drinks and snacks in an inviting and cozy environment.
              Visit and enjoy. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/giraffa-lista.jpg"></img>
          </td>
          <td>
            <h4>Giraffas</h4>
            <p> Homemade Brazilian food. Come taste the flavors that only Brazil offers.
              Comfortable environment and great atmosphere. <br>
              <b>Timings</b>: Open 24 hours.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/harad-lista.jpg"></img>
          </td>
          <td>
            <h4>Harad</h4>
            <p> Arab cuisine in a relaxed environment for happy hour. Enjoy sweet and savory treats with a good beer. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/havana-lista.jpg"></img>
          </td>
          <td>
            <h4>Havanna Café</h4>
            <p> The famous brand that is synonymous with delicious alfajores
              waits for you in a cozy and elegant environment. <br>
              <b>Timings</b>: 5AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/kafe-lista.jpg"></img>
          </td>
          <td>
            <h4>Kafe</h4>
            <p> A relaxed and laid-back environment waits for you.
              Enjoy drinks, coffees and mouth-watering snacks. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/koni-lista.jpg"></img>
          </td>
          <td>
            <h4>Koni Express</h4>
            <p> The best of Japanese cuisine in an environment that makes you feel the calm atmosphere of the East. <br>
              <b>Timings</b>: 11AM - 12AM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <b>Phone</b>: +55 11 4153-6558
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/Kopenhagen-lista.jpg"></img>
          </td>
          <td>
            <h4>Kopenhagen</h4>
            <p> Wide variety of special and select chocolates. Find your favorite delights and amazing gifts. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Public Area
              <b>Phone</b>: +55 21 3398-2101
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mania-lista.jpg"></img>
          </td>
          <td>
            <h4>Mania de Churrasco</h4>
            <p> If you do not give up a nice barbecue, well roasted meat and made with noble cuts,
              do not forget to visit Mania de Churrasco. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mcdonald-lista.jpg"></img>
          </td>
          <td>
            <h4>Mc Donald's</h4>
            <p> The traditional American hamburger that is already a little piece of Brazil.
              Big Mac's house is waiting for you. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic<br>
              <b>Phone</b>: +55 16 3267-0269
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mcdonald-sorvete-lista.jpg"></img>
          </td>
          <td>
            <h4>McSorvete</h4>
            <p> The traditional Mc Donald's desserts. Big Mac's house is waiting for you. <br>
            <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/megamatte-lista.jpg"></img>
          </td>
          <td>
            <h4>Megamatte</h4>
            <p> Tasty, refreshing and healthy. Choose from the variety of drinks made with
              organic yerba mate and quench your thirst.<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/bakers-lista.jpg"></img>
          </td>
          <td>
            <h4>Mr. Baker</h4>
            <p> Coffees and snacks as you wish. It’s a good order at all times. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/cheney-lista_0.jpg"></img>
          </td>
          <td>
            <h4>Mr. Cheney</h4>
            <p> Specializing in cookies and American delicacies.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/nutty-lista.jpg"></img>
          </td>
          <td>
            <h4>Nutty Bavarian</h4>
            <p> Experts in nuts, friends of your health. If your seek a lighter life,
              come by the Bavarian Nutty. <br>
              <b>Location</b>: Terminal 2 - Floor 0, Arrivals - Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/Palaphita-lista.jpg"></img>
          </td>
          <td>
            <h4>Palaphita</h4>
            <p> Cool bar and grill, laid-back and fun. Plenty of cold beer, energy and good food. <br>
              <b>Timings</b>: 10AM - 1AM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/pastatore-lista.jpg"></img>
          </td>
          <td>
            <h4>Pastatore</h4>
            <p> Specializing in pastas, pizzas and lasagne. That Italian taste that everyone loves. <br>
            <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
            <b>Phone</b>: +55 (21) 3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/hut-lista.jpg"></img>
          </td>
          <td>
            <h4>Pizza Hut</h4>
            <p> Visit the famous American pizzeria and be amazed by the flavor that only a perfect combination of ingredients provides. <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/mate-lista.jpg"></img>
          </td>
          <td>
            <h4>Rei do Mate</h4>
            <p> Brazilian tea house with wide variety of teas and coffee beans.
              Enjoy a cozy environment and an incredible drink. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - International
              <b>Phone</b>: +55 21 3398-2060
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/salch-lista.jpg"></img>
          </td>
          <td>
            <h4>Salch&Pão</h4>
            <p> The traditional Brazilian hot dog that is an explosion of flavors.
              Take a break and satisfy your hunger. <br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/spoleto-lista.jpg"></img>
          </td>
          <td>
            <h4>Spoleto</h4>
            <p> Italian restaurant that transports your mind to Naples. Enjoy excellent food. <br>
              <b>Timings</b>: 10AM - 11PM <br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 (21)3367-6025
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/starbucks-lista.jpg"></img>
          </td>
          <td>
            <h4>Starbucks Coffee</h4>
            <p> Coffees, sweets and savory snacks in a relaxed, alternative and
              quiet environment for you to enjoy before your trip. <br>
              <b>Timings</b>: Open 24 hours<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Public Area<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 800 777 8252<br>
              2. Terminal 2 - Floor 2, Departures - Domestic<br>
              &nbsp;&nbsp;&nbsp;&nbsp;<b>Phone</b>: +55 21 3398-2102
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/subway-lista.jpg"></img>
          </td>
          <td>
            <h4>Subway</h4>
            <p> Restaurant with fast, healthy and varied sandwiches.
              Choose your ingredients and discover new sauces and seasonings. <br>
              <b>Timings</b>: 7AM - 11PM<br>
              <b>Phone</b>: +55 21 3148-2098<br>
              <b>Location</b>:
              1. Terminal 2 - Floor 1, Public Area<br>
              2. Terminal 2 - Floor 1, Departures - International<br>
              3. Terminal 2 - Floor 1, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/tapi-lista.jpg"></img>
          </td>
          <td>
            <h4>Tapí Tapioca</h4>
            <p> Artisanal tapioca with a touch of traditional indigenous food.
              Always made with care and flavor at Tapí. <br>
              <b>Timings</b>: 6AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Departures - Domestic<br>
              <b>Phone</b>: +55 21 3398-2081
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/friday-lista.jpg"></img>
          </td>
          <td>
            <h4>T.G.I. Fridays</h4>
            <p> For a happy hour or the last meeting before your trip, choose the restaurant that has Friday's menu every day. <br>
              <b>Timings</b>: 10AM - 11PM<br>
              <b>Location</b>:
              1. Terminal 2 - Floor 2, Departures - Domestic
              2. Terminal 2 - Floor 0, Arrivals - Public Area
              <b>Phone</b>: +55 21 3398-2113
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/upper-lista.jpg"></img>
          </td>
          <td>
            <h4>Upper Crust</h4>
            <p> Fresh and fast. Baked throughout the day,
              we are the baguette experts. <br>
              <b>Timings</b>: 5:30AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 2, Departures - Domestic
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img id="icon" src="/static/images/vivenda-lista.jpg"></img>
          </td>
          <td>
            <h4>Vivenda do Camarão</h4>
            <p> Typical Brazilian cuisine that tastes like homemade food. Visit an ideal place to share happy moments. <br>
              <b>Timings</b>: 10AM - 10PM<br>
              <b>Location</b>: Terminal 2 - Floor 1, Public Area<br>
              <b>Phone</b>: +55 800 12 9333
            </p>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
