{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_lounge' %}">Lounge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_salon' %}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_spa' %}">Spa</a>
        </li>
      </ul>
      <br>
      <h1>Buddha Spa</h1><br>
      <h4>Waiting for your flight can be more relaxing than you think. At RIOgaleão, you can have a massage and take care of your skin and body while you wait for your boarding time. Turn your wait into a moment of well-being.</h4>
      <br>
      <br>
      <h4><b>Location:</b> Domestic Terminal 2 - 2nd Floor </h4> <br>
      <h4><b>Phone:</b> +55 (21) 97926.1311</h4>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/buddha-spa1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/images/buddha-spa2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/images/spa_price.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

{% endblock %}
