{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_lounge' %}">Lounge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_salon' %}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_spa' %}">Spa</a>
        </li>
      </ul>
      <br>
      <h3>Head to the Werner Coiffeur salon in Terminal 1 for some hairstyling.</h3>
      <hr>
      <br>
      <img src="/static/images/werner.jpg"/>
    </div>

{% endblock %}
