{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
    <style>
       td {
          text-align:left;
       }

    </style>

    <div class="container">
      <h1>Select a category:</h1>
      <hr>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_shopping' %}">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_beauty' %}">Beauty & Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_books' %}">Books and Magazines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_malls' %}">Malls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'airport_pharmacy' %}">Pharmacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'airport_fashion' %}">Fashion and Accessories</a>
        </li>
      </ul>
      <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a store..">
      <table id="myTable" cellpadding="10">
        <tr>
          <td>
            <img src="/static/images/air-lista.jpg"></img>
          </td>
          <td>
            <h4>Air Farma</h4>
            <p>Comfort and convenience in hygiene and cleaning products, cosmetics and medicines.<br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 2, Departures - Domestic<br>
              2. Terminal 2 - Floor 2, Departures - International
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/granado-pink-lista.jpg"></img>
          </td>
          <td>
            <h4>Granado Pink</h4>
            <p> Convenience in perfumery, cosmetics and medicines. Find everything in one place.<br>

            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/static/images/granado-lista.jpg"></img>
          </td>
          <td>
            <h4>Granado Pharmacias</h4>
            <p> Convenience in perfumes, cosmetics and medicines. Find everything in one place. <br>
              <b>Location</b>: <br>
              1. Terminal 2 - Floor 1, Departures - Domestic<br>
              2. Terminal 2 - Floor 1, Departures - International
            </p>
          </td>
        </tr>



      </table>
    </div>

{% endblock %}
