{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}

<br><br><br><br><br><br><br>
    <div class="container">

      <h1>Welcome Passenger!</h1>
      <hr>
      <p>Enter your flight number:</p>
      <input type="text"></input>
      <br>
      <br>
      <a class="btn btn-large btn-info" href="{% url 'passenger_home' %}" onclick="{% url 'passenger_home' %}" >Submit</a>
    </div>

{% endblock %}
