{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script src="https://kit.fontawesome.com/27936ba74c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<script type="text/javascript">
  $(document).ready(function () {
   var swiper = new Swiper('.swiper-container',{
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect:{
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: false
      },
       pagination:{
          el: '.swiper-pagination'
       },
       autoplay:{
          delay: 3000
       }
   });
 });
</script>
<br><br><br><br><br><br><br>
<style>
      #cf {
      position:absolute;
      height:281px;
      width:450px;
      margin:0 auto;
      margin-top: -455px;
      opacity:0.5;
      z-index:-1;
    }

    #cf img {
      position:absolute;
      left:0;
      -webkit-transition: opacity 2s ease-in-out;
      -moz-transition: opacity 2s ease-in-out;
      -o-transition: opacity 2s ease-in-out;
      transition: opacity 2s ease-in-out;
    }

    @keyframes cfFadeInOut {
           0% {
           opacity:1;
          }
          45% {
          opacity:1;
          }
          55% {
          opacity:0;
          }
          100% {
          opacity:0;
          }
          }

    #cf img.top {
      animation-name: cfFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-direction: alternate;
    }
    .table {
      border-spacing:5px; /* need some space ?*/
      display:table;
      table-layout:fixed;
      width:100%;
      margin-top:45px;
    }
    .table div {
      display:table-cell;
    }
    p {
      font-weight: bold;
      color: white;
    }
    body{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        background: #191d32;
    }
    i{font-weight: initial!important;}
    a{text-decoration: none;color: #ffffff}
    .swiper-container{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide{
        width: 300px;
        height: auto;
        border: 2px solid #FFD23F;
    }
    .swiper-slide .img{
        background-position: center;
        background-size: cover;
        width: 200px!important;
        height: 200px;
    }
    .swiper-slide p{
        color: white;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }

    .swiper-slide.swiper-slide-active:hover{box-shadow: 0 10px 10px 0 #FFD23F}
    .swiper-pagination-bullet{background: #FFD23F}

  </style>

    <div class="container">
      <h1>Explore recreation at..</h1>
      <hr>
      <div class="table">
          <div>
            <a class="btn btn-large btn-block" href="{% url 'airport_food' %}" onclick="{% url 'airport_food' %}">
            <img src="/static/images/burger.png"  style="width:30%;" />
            <br><br>
            <p>Dining</p>
            </a>
          </div>
          <div>
            <a class="btn btn-large btn-block" href="{% url 'airport_shopping' %}" onclick="{% url 'airport_shopping' %}">
            <img src="/static/images/gift-shop.png" style="width:30%;" />
            <br><br>
            <p>Shopping</p>
            </a>
          </div>
          <div>
            <a class="btn btn-large btn-block" href="{% url 'airport_sight' %}" onclick="{% url 'airport_sight' %}">
            <img src="/static/images/exploration.png" style="width:30%;"/>
            <br><br>
            <p>Explore Rio</p>
            </a>
          </div>
          <div>
            <a class="btn btn-large btn-block" href="{% url 'airport_lounge' %}" onclick="{% url 'airport_lounge' %}">
            <img src="/static/images/vacation.png" style="width:30%;"/>
            <br><br>
            <p>Relaxation</p>
            </a>
          </div>
        </div>
    </div>
    <div id="cf">
      <img class="bottom" src="/static/images/1.jpg" style="width:1515px;height:720px;"/>
      <img class="top" src="/static/images/2.jpg" style="width:1515px;height:720px;"/>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Explore Rio</p>
    <div class="swiper-container">
       <div class="swiper-wrapper">
           <div class="swiper-slide">
               <div class="img" style="background-image: url(/static/images/burger.png)"></div>
               <p class="name">Hotels</p>
               <a href="#"><p class="name">@nomeutente</p></a>
           </div>
           <div class="swiper-slide">
               <div class="img" style="background-image: url(/static/images/burger.png)"></div>
               <p class="name">Restuarants</p>
               <a href="#"><p class="name">@nomeutente</p></a>
           </div>
           <div class="swiper-slide">
               <div class="img" style="background-image: url(/static/images/burger.png)"></div>
               <p class="name">Shopping</p>
               <a href="#"><p class="name">@nomeutente</p></a>
           </div>
           <div class="swiper-slide">
               <div class="img" style="background-image: url(/static/images/burger.png)"></div>
               <p class="name">Explore</p>
               <a href="#"><p class="name">@nomeutente</p></a>
           </div>
       </div>
       <div class="swiper-pagination"></div>
   </div>

{% endblock %}
