{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
  <style>
     td {
        text-align:left;
     }
     .show-more {
        display: none;
        cursor: pointer;
      }
  </style>
  <script>
    function setGetParameter(value){
      window.location.href = "{% url 'rio_hotel_info' %}" + "?hotelID="+value;
    }

    function loadData(data, i){
      var table_data = '<table id="myTable" cellpadding="10">';
      for(var count = i; count<Object.keys(data).length; count++)
      {
         table_data += '<tr class="tbl_rows">';
         table_data += '<td> <h3> <a onclick="setGetParameter('+count+')">' + data[count].HotelName + '</a></h3><br>';
         table_data += 'Address: ' + data[count].Address + '</td>';
         table_data += '</tr>';
      }
      table_data += '</table>';
      $('#hotel_list').html(table_data);
    }

    $(document).ready(function(){
      $.ajax({
       url:"/static/data/Rio_Hotels_Clean.json",
       dataType:"json",
       success:function(data)
       {
         loadData(data, 0)
       }
      });
    });
    </script>
  <div class="container">
    <h1>Hotels in Rio</h1>
    <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for a hotel..">

    <div id="hotel_list">

    </div>



  </div>
{% endblock %}
