{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'passenger_navbar.html' %}
  <script>
    function setGetParameter(value){
      window.location.href = "{% url 'rio_hotel_info' %}" + "?hotelID="+value;
    }

    $(document).ready(function(){
      $.ajax({
       url:"/static/data/Rio_Hotels_Clean.json",
       dataType:"json",
       success:function(data)
       {
          var recommendations = {{ recommendations|safe }};
          var query = window.location.search.substring(1);
          var parms = query.split('&');
          var hotelId = parms[0].split('=')[1];
          var table_data = '<table id="myTable" cellpadding="10" style="background:#45B39D">';
          table_data += '<tr>';
          table_data += '<td> <h3>' + data[hotelId].HotelName + '</h3><br>';
          if(data[hotelId].TotalReviews){
            table_data += '<b>Number of reviews: </b>' + data[hotelId].TotalReviews + '<br><br>';
          }
          if(data[hotelId].Ranking){
            table_data += '<b>Ranking: </b>' + data[hotelId].Ranking + ' out of ' + data[hotelId].OutOf + '  ' + data[hotelId].HotelType + '<br><br>';
          }
          if(data[hotelId].Rating){
            table_data += '<b>Rating:</b> ' + data[hotelId].Rating + '   ' + data[hotelId].RatingText + '<br><br>';
          }
          table_data += '<b>Address:</b> ' + data[hotelId].Address + '<br><br>';
          if(data[hotelId].Description){
            table_data += '<b>Description:</b> ' + data[hotelId].Description + '<br><br>';
          }
          table_data += '</td></tr>';
          table_data += '</table>';
          $('#hotel_list').html(table_data);

          var table_record = '<table id="myTable" cellpadding="10" style="background:#EB984E">';
          for(var i=0; i<Object.keys(data).length; i++){
            for(var j=0; j<recommendations.length; j++){
              if(data[i].HotelName == recommendations[j]){
                table_record += '<tr><td><h2><a onclick="setGetParameter('+i+')">' + data[i].HotelName + '</a></h2><br>';
                table_record += 'Address: ' + data[i].Address + '</td></tr>';
              }
            }
          }
          $('#recommendation').html(table_record);
        }
       });
     });
  </script>
  <div class="container">
    <div id="hotel_list">
    </div>

    <br><br>
    <h4> Recommended hotels: </h4>
    <div id="recommendation" >


    </div>
  </div>
{% endblock %}
